
/* Cats Card from reactstrap goes here*/
.card {
 margin: 3rem 0;

}

.cat-index-cards {
  
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 30px; /*it adds space  20px between cards*/
 padding: 30px;

}

